{% extends 'base.html' %}

{% block content %}

<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#billingInfo"><i class="fa fa-shopping-cart text-danger"></i>Review your Billing Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="billingInfo" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <div class="billing-address">
                                            <div><b>{{ order.name }}</b></div>
                                            <div>{{ order.address }}</div>
                                            <div>{{ order.city }} - {{ order.zip_code }}</div>
                                            <div>{{ order.state }}, {{ order.country }}</div>
                                            <div><b>Phone: </b>{{ order.phone }}</div>
                                            <div><b>Email: </b>{{ order.email }}</div>
                                            <div><b>Payment: </b>{{ order.payment_method }}</div>
                                            <br>
                                            <div><a href="{% url 'checkout' %}" class="btn btn-outline-danger">Edit</a></div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#orderSummary"><i class="icon- icon-room_service"></i>Your Order</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="orderSummary" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div>
                                        <table class="table">
                                            <tbody>
                                                {% for item in cart_items %}
                                                <tr>
                                                    <td><img src="{{ item.productitem.image.url }}" width="40" alt="Product Image"></td>
                                                    <td><b>{{ item.productitem }}</b></td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>&#8358;{{ item.productitem.price }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">&#8358;</span>
                                                    <span id="subtotal">{{ subtotal|floatformat:2 }}</span>
                                                </span>
                                            </li>

                                            {% for key, value in tax_dict.items %}
                                            {% for i, j in value.items %}
                                            <li style="list-style-type: none;">
                                                {{ key }} <small>({{ i }}%)</small>
                                                <span class="price float-right">
                                                    <span class="currency">&#8358;</span>
                                                    <span id="tax-{{ key }}">{{ j|floatformat:2 }}</span>
                                                </span>
                                            </li>
                                            {% endfor %}
                                            {% endfor %}

                                            <li style="list-style-type: none; font-weight: 600;">
                                                Total
                                                <span class="price float-right">
                                                    <span class="currency">&#8358;</span>
                                                    <span id="total">{{ grand_total|floatformat:2 }}</span>
                                                </span>
                                            </li>
                                            {% if order.payment_method == 'PayPal' %}
                                            <div id="paypal-button-container"></div>
                                            {% elif order.payment_method == 'Paystack' %}
                                            <div id="paystack-payment-section">
                                                <button class="btn btn-danger w-100 p-2" id="paystack-button">
                                                    <b>Pay with Paystack</b>
                                                </button>
                                                <script src="https://js.paystack.co/v1/inline.js"></script>
                                            </div>
                                            {% elif order.payment_method == 'Flutterwave' %}
                                            <div id="flutterwave-payment-section">
                                                <button class="btn btn-danger w-100 p-2" id="flutterwave-button">
                                                    <b>Pay with Flutterwave</b>
                                                </button>
                                                <script src="https://checkout.flutterwave.com/v3.js"></script>
                                            </div>
                                            {% elif order.payment_method == 'Opay' %}
                                            <div id="opay-payment-section">
                                                <button class="btn btn-danger w-100 p-2" id="opay-button"><b>Pay with Opay</b></button>
                                                <script src="https://cashierapi.opayweb.com/static/js/cashier_sdk.js"></script>
                                            </div>
                                            {% elif order.payment_method == 'Monnify' %}
                                            <div id="monnify-payment-section">
                                                <button class="btn btn-danger w-100 p-2" id="monnify-button">
                                                    <b>Pay with Monnify</b>
                                                </button>
                                                <script src="https://sdk.monnify.com/plugin/monnify.js"></script>
                                            </div>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                }
            }
        }
        return cookieValue;
    }

    var grand_total_float = parseFloat("{{ grand_total|stringformat:'f' }}");
    var url = "{% url 'payments' %}";
    var order_number = "{{ order.order_number }}";
    const csrftoken = getCookie('csrftoken');
    var order_complete = "{% url 'order_complete' %}";
    console.log('csrftoken===>', csrftoken)

    {% if order.payment_method == 'PayPal' %}
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: grand_total_float
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (orderData) {
                console.log(orderData);
                const transaction = orderData.purchase_units[0].payments.captures[0];
                const transaction_id = transaction.id;
                const status = orderData.status;
                const payment_method = 'PayPal';

                const element = document.getElementById('paypal-button-container');
                element.innerHTML = '<h4 class="text-center"><i class="fa fa-spinner fa-spin"></i> Please wait...</h4>';
                sendTransaction(transaction_id, payment_method, status);
            });
        }
    }).render('#paypal-button-container');

    {% elif order.payment_method == 'Paystack' %}
    document.getElementById('paystack-button').onclick = function (e){
        e.preventDefault();
        const handler = PaystackPop.setup({
            key: "{{ PAYSTACK_PUBLIC_KEY }}",
            email: "{{ order.email }}",
            amount: Math.round(grand_total_float * 100),
            currency: "NGN",
            ref: order_number,
            metadata: {
                order_id: order_number,
                custom_fields: [{
                    display_name: "Customer",
                    variable_name: "customer",
                    value: "{{ order.name }}"
                }]
            },
            callback: function (response){
                if (response.status === 'success'){
                    // Ensure the transaction_id is correctly extracted
                    const element = document.getElementById('paystack-payment-section');
                    element.innerHTML = '';
                    element.innerHTML = '<h4 class="text-center"><i class="fa fa-spinner fa-spin"></i> Please wait...</h4>';
                    var payment_method = 'Paystack'
                    var status = 'Success'
                    const transaction_id = response.reference; // Paystack returns the reference as the transaction ID
                    console.log('Paystack transaction_id:', transaction_id);
                    sendTransaction(transaction_id, 'payment_method', 'status');
                }
            },
            onClose: function (){
                alert('Payment window closed.');
            }
        });
        handler.openIframe();
    };


    {% elif order.payment_method == 'Flutterwave' %}
    document.getElementById('flutterwave-button').onclick = function (e) {
        e.preventDefault();
        FlutterwaveCheckout({
            public_key: "{{ FLUTTERWAVE_PUBLIC_KEY }}",
            tx_ref: order_number,
            amount: grand_total_float,
            currency: "NGN",
            payment_options: "card,ussd",
            customer: {
                email: "{{ order.email }}",
                phone_number: "{{ order.phone }}",
                name: "{{ order.name }}"
            },
            customizations: {
                title: "{{ order.vendors.first }} Store",
                description: "Payment for Order #" + order_number,
                logo: "{{profile_form.profile_picture.url}}"
            },
            callback: function (response) {
                if (response.status === 'successful') {
                    sendTransaction(response.transaction_id || response.flw_ref, 'Flutterwave', 'Success');
                }
            },
            onclose: function () {
                alert('Payment window closed.');
            }
        });
    };

    {% elif order.payment_method == 'Opay' %}
    document.getElementById('opay-button').onclick = function (e) {
        e.preventDefault();
        // Implement Opay logic here, using the cashier_sdk.js
        alert('Opay integration not yet implemented.');
    };

    {% elif order.payment_method == 'Monnify' %}
    document.getElementById('monnify-button').onclick = function (e) {
        e.preventDefault();
        MonnifySDK.initialize({
            amount: grand_total_float,
            currency: "NGN",
            reference: order_number,
            customerFullName: "{{ order.name }}",
            customerEmail: "{{ order.email }}",
            customerMobileNumber: "{{ order.phone }}",
            apiKey: "{{ MONNIFY_API_KEY }}",
            contractCode: "{{ MONNIFY_CONTRACT_CODE }}",
            paymentDescription: "Payment for Order #" + order_number,
            isTestMode: true, // Set to false in production
            onComplete: function(response){
                if (response.status === 'SUCCESS') {
                    sendTransaction(response.transactionReference, 'Monnify', 'Success');
                } else {
                    alert('Payment failed. Please try again.');
                }
            },
            onClose: function(data){
                alert('Payment window closed.');
            }
        });
    };
    {% endif %}

    // Send the data to payments view to store in the database
    function sendTransaction(transaction_id, payment_method, status){
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'order_number': order_number,
                'transaction_id': transaction_id,
                'payment_method': payment_method,
                'status': status,
                'csrfmiddlewaretoken': csrftoken
            },
            success: function(response){
                console.log('Payment Success Response:', response); // Log the full response
                if (response.status === 'success') {
                    window.location.href = order_complete +'?order_no='+response.order_number+'&trans_id='+response.transaction_id;
                } else {
                    console.error("Payment was not successful according to server response");
                }
            },
            error: function(error) {
                // Check if the server returned a JSON response
                if (error.responseJSON) {
                    // Log the server's error message
                    console.error("Server-side error:", error.responseJSON.message);
                    // Handle the server's error message
                    alert(error.responseJSON.message);
                } else {
                    // Handle non-JSON errors or other request errors
                    console.error("Error during AJAX request:", error);
                    alert("An unexpected error occurred. Please try again later.");
                }
            }
        })
    }
</script>
{% endblock %}